h1{
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 950%;
    margin: 20%;
}

.foter {
    font-size: x-small;
    font-family: 'Courier New', Courier, monospace;
}